* text=auto !eol
/404.html -text
/article.html -text
/auteur.html -text
/backend-breves.html -text
/backend.html -text
/breve.html -text
/calendrier.html -text
/contact.html -text
css/clear.css -text
css/form.css -text
css/img/background.png -text
css/img/bouton_recherche.png -text
css/img/def.png -text
css/img/quote.png -text
css/img/recherche.png -text
css/layout.css -text
css/reset.css -text
css/spip.css -text
css/style.css -text
css/typo.css -text
/distrib.html -text
/favicon.ico.html -text
formulaires/administration.html -text
formulaires/ecrire_auteur.html -text
formulaires/ecrire_auteur.php -text
formulaires/inc-inscription-explication.html -text
formulaires/inscription.html -text
formulaires/inscription.php -text
formulaires/mot_de_passe.html -text
formulaires/mot_de_passe.php -text
formulaires/oubli.html -text
formulaires/oubli.php -text
formulaires/recherche.html -text
formulaires/recherche.php -text
/forum.html -text
/ical.html -text
icon/skel.png -text
/identifiants.html -text
img/feed.png -text
/inc-rss-item.html -text
inclure/documents.html -text
inclure/footer.html -text
inclure/forum.html -text
inclure/head.html -text
inclure/header.html -text
inclure/nav.html -text
inclure/navsub.html -text
inclure/petition.html -text
inclure/recents.html -text
inclure/rubriques.html -text
lang/paquet-dist.xml -text
lang/paquet-dist_ar.php -text
lang/paquet-dist_de.php -text
lang/paquet-dist_fa.php -text
lang/paquet-dist_it.php -text
lang/paquet-dist_pt_br.php -text
lang/paquet-dist_ru.php -text
lang/paquet-dist_sk.php -text
modeles/article_mots.html -text
modeles/article_traductions.html -text
modeles/favicon.html -text
modeles/foreach.html -text
modeles/lesauteurs.html -text
modeles/plan.html -text
/mot.html -text
/nouveautes.html -text
/plan.html -text
polices/dustismo-license.txt -text
polices/dustismo.ttf -text
polices/dustismo_bold.ttf -text
/puce.gif -text
/puce_rtl.gif -text
/recherche.html -text
/robots.txt.html -text
/rss_forum_article.html -text
/rss_forum_breve.html -text
/rss_forum_rubrique.html -text
/rss_forum_syndic.html -text
/rss_forum_thread.html -text
/rubrique.html -text
/site.html -text
/sitemap.xml.html -text
/sommaire.html -text
/spip.ico -text
/win_width.htc -text
