* text=auto !eol
/404.html -text
/article.html -text
/auteur.html -text
/backend-breves.html -text
/backend.html -text
/breve.html -text
/calendrier.html -text
css/base.css -text
css/form.css -text
css/img/background.gif -text
css/img/rechercher.gif -text
css/layout.css -text
css/reset.css -text
css/spip.css -text
css/style.css -text
css/typo.css -text
/distrib.html -text
/feed.png -text
/forum.html -text
/ical.html -text
icon/skel.png -text
/inc-rss-item.html -text
inclure/documents.html -text
inclure/footer.html -text
inclure/forum.html -text
inclure/head.html -text
inclure/header.html -text
inclure/nav.html -text
inclure/navsub.html -text
inclure/petition.html -text
inclure/recents.html -text
inclure/rubriques.html -text
modeles/article_mots.html -text
modeles/article_traductions.html -text
modeles/favicon.html -text
modeles/foreach.html -text
modeles/lesauteurs.html -text
modeles/plan.html -text
/mot.html -text
/plan.html -text
/plugin.xml -text
polices/dustismo-license.txt -text
polices/dustismo.ttf -text
polices/dustismo_bold.ttf -text
/puce.gif -text
/puce_rtl.gif -text
/recherche.html -text
/rss_forum_article.html -text
/rss_forum_breve.html -text
/rss_forum_rubrique.html -text
/rss_forum_syndic.html -text
/rss_forum_thread.html -text
/rubrique.html -text
/site.html -text
/sommaire.html -text
/win_width.htc -text
