* text=auto !eol
/404.html -text
/article.html -text
/auteur.html -text
/backend-breves.html -text
/backend.html -text
/breve.html -text
/calendrier.html -text
css/habillage.css -text
css/img/rechercher.gif -text
css/impression.css -text
css/spip_formulaires.css -text
/distrib.html -text
/feed.png -text
/forum.html -text
/ical.html -text
icon/skel.png -text
/inc-rss-item.html -text
inclure/inc-documents.html -text
inclure/inc-entete.html -text
inclure/inc-forum.html -text
inclure/inc-head.html -text
inclure/inc-petition.html -text
inclure/inc-pied.html -text
inclure/inc-recents.html -text
inclure/inc-rubriques.html -text
modeles/article_mots.html -text
modeles/article_traductions.html -text
modeles/favicon.html -text
modeles/foreach.html -text
modeles/lesauteurs.html -text
modeles/plan.html -text
/mot.html -text
/plan.html -text
/plugin.xml -text
polices/dustismo-license.txt -text
polices/dustismo.ttf -text
polices/dustismo_bold.ttf -text
/puce.gif -text
/puce_rtl.gif -text
/recherche.html -text
/rss_forum_article.html -text
/rss_forum_breve.html -text
/rss_forum_rubrique.html -text
/rss_forum_syndic.html -text
/rss_forum_thread.html -text
/rubrique.html -text
/site.html -text
/sommaire.html -text
/win_width.htc -text
